#header {
	width: 100%;
	min-height: 80px;
	display: grid;
	grid-template-rows: auto 1fr auto;
	margin: 0 auto;
	background-color: #111;
	color: #ffffff;
}

#navigation {
	width: 100%;
	min-height: 30px;
	margin: 0 auto;
	background-color: #FF0000;
	color: #ffffff;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #FF0000;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

#header {
	width: 100%;
	min-height: 80px;
	display: grid;
	grid-template-rows: auto 1fr auto;
	margin: 0 auto;
	background-color: #111;
	color: #ffffff;
}

#navigation {
	width: 100%;
	min-height: 30px;
	margin: 0 auto;
	background-color: #FF0000;
	color: #ffffff;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #FF0000;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

.slideshow {
	width: 100%;
	min-height: 300px;
	margin: 0 auto;
	background-color: gray;
}

.leftcol {
	width: 50%;
	min-height: 375px;
	margin: 0 auto;
	background-color: tan;
	float: left;
}

#footer {
	width: 100%;
	min-height: 50px;
	margin: 0 auto;
	clear: both;
	background-color: #050505;
	color: #ffffff;
	text-align: center;
	padding-top: 20px;
}

.slideshow {
	width: 100%;
	min-height: 300px;
	margin: 0 auto;
	background-color: gray;
}

.leftcol {
	width: 50%;
	min-height: 375px;
	margin: 0 auto;
	background-color: tan;
	float: left;
}

#footer {
	width: 100%;
	min-height: 50px;
	margin: 0 auto;
	clear: both;
	background-color: #050505;
	color: #ffffff;
	text-align: center;
	padding-top: 20px;
}