// Color variables (appears count calculates by raw css)
@color0: #ffffff; // Appears 3 times
@color1: #111111; // Appears 2 times
@color2: #ff0000; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width0: 100%; // Appears 4 times

/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
 html, body {
	border: 0;
	font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  caption, th, td {
    text-align: left;
    vertical-align: middle;
  }
}

a img {
  border: 0;
}

:focus {
  outline: 0;
}

@media only screen and (max-width: 1024px) {
	main {
		padding: 0px;
		margin: 0px;
		font-size: 90%;
		font-family:Verdana;
	}
	}


#header {
	background-color: @color0;
	color: @color0;
	display: grid;
	grid-template-rows: auto 1fr auto;
	margin: 0 auto;
	height: 150px;
	width: @width0;
}

// Logo styles
#header img {
	width: 400px;
	padding-top: 10px;
	
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

// Navigation styles
#navigation {
	background-color: @color2;
	color: @color0;
	margin: 0 auto;
	min-height: 40px;
	width: @width0;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
}


ul {
	background-color: @color2;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

li {
	float: left;
	a {
		color: white;
		display: block;
		padding: 14px 16px;
		text-align: center;
		text-decoration: none;
		&:hover {
			background-color: @color1;
		}
	}
}

// slideshow styles
.slideshow {
	background-color: lightgray;
	margin: 0 auto;
	min-height: 345px;
	width: @width0;
	padding: 0;
	
}

.slideshow p {
	padding-left: 5px;
	font-size: 1.8em;
	font-weight: bold;
}

// left column styles
.leftcol {
	background-color: #ffffff;
	float: left;
	margin: 0 auto;
	min-height: 375px;
	width: 50%;
	border-right: 1px solid #000
	;
}

 h2 {
	padding: 10px;
}

.rightcol {
	margin: 0 auto;
	width: 49%;
	float: right;
	
}

// footer styles
#footer {
	background-color: #050505;
	clear: both;
	color: @color0;
	margin: 0 auto;
	min-height: 50px;
	padding-top: 20px;
	text-align: center;
	width: @width0;
}

//mobile styles//
@media only screen and (max-width: 600px) {

#footer { 
	background-color: blue;
}
}




 

//tablet styles//
@media only screen and (min-width: 768px ) {



}