// Color variables (appears count calculates by raw css)
@color0: #ffffff; // Appears 3 times
@color1: #111111; // Appears 2 times
@color2: #ff0000; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width0: 100%; // Appears 4 times


*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#logo img {
	width: 200px;	
	padding-left: 15px;
	background-color: @color0;
	margin-right: 400px;
}

nav {
	display: flex;
	align-items: center;
	min-height: 8vh;
	
}

.nav-links {
	display: flex;

}

.nav-links li{
	list-style: none;
	height: 30px;
}

.nav-links a {
	text-decoration: none;
	font-size: 15px;
	padding-right: 60px;
	color: @color1;
	display: inline;

}

.nav-links a:hover {
	color: @color1;
}
 
.burger {
	display: none;
}
 

.burger div {
	width: 20px;
	height: 3px;
	background-color: @color2;
	margin: 5px;

}


.slideshow {
	background-color: lightgray;
	height: 400px;
}


.leftcol {
	width: 45%;
	height: 250px;
	border-right: 2px solid @color1;
	float: left;
}

.rightcol {
	height: 250px;
}

// footer styles
#footer {
	background-color: @color1;
	clear: both;
	color: @color0;
	margin: 0 auto;
	min-height: 0px;
	padding: 20px;
	text-align: center;
	width: @width0;
	
}



@media screen and (max-width:768px) {
		
	body{
		overflow-x: hidden;
	}
	.nav-links{
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: @color2;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
	}

	.nav-links li{
		opacity: 0;
		
	}
	
	.nav-links a {
		color: @color0;
		padding: 10px;
		display: block;
	}
	.burger{
		display: block;
		
	}
}

	.nav-active{
		transform: translateX(0%);
	}



	@keyframes navLinkFade{
		from{
			opacity: 0;
			transform: translateX(50px);
		}

		to{
			opacity: 1;
			transform: translateX(0px);
		}
	}

	.toggle .line1{
		transform: rotate(45deg translate(-5px,-6px));
	}

	.toggle .line2{
		transform: rotate(45deg translate(-5px,-6px));
	}

	.toggle .line3{
		transform: rotate(-45deg translate(-5px,6px));
	}

